body{
    font-size: 16px;
}

.card:hover{
    background-color: rgba(0, 0, 0, 0.42);
}

.text-justify{
    text-align: justify;
}
.card-text{
    text-align: justify;
}

#txtComent{
    resize: none;
}

@media(max-width: 576px){
    .card-text{
        font-size: 0.8rem;
    }
}